# Password to the new Supabase DB you create
SUPABASE_DB_PASSWORD=

# Transaction pooler connection URI from Supabase
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=

# Session pooler connection URI from Supabase
DATABASE_URL=

OPENAI_API_KEY=

# Optional but recommended for observability
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=

ANTHROPIC_API_KEY=

# Redis URI from Render
REDIS_URI=

# Langgraph Server URL once you've deployed to Render
LANGGRAPH_SERVER_URL=

PYTHONPATH=

LLM_MODEL_NAME=

# Datadog logging environment variables
DD_API_KEY=
DD_APP_KEY=
DD_SITE=
DD_SERVICE="agentic-healthcare"
DD_ENV="development"
DD_LOGGING_ENABLED="true"
DD_AGENT_HOST=dd-agent
DD_TRACE_AGENT_PORT=8126
DD_TRACE_AGENT_URL=http://dd-agent:8126
DD_HOSTNAME=agentic-healthcare
DD_REMOTE_CONFIGURATION_ENABLED=false
DD_APM_NON_LOCAL_TRAFFIC=true
DD_APM_ENABLED=true